{% extends 'base.html.twig' %}

{% block title %}Symforum{% endblock %}

{% block body %}
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><i class="fab fa-symfony"></i> Symforum <i class="fab fa-symfony"></i></h1>
        <p class="lead text-muted">Everyone can be great because everyone can serve</p>
        <p>
          <a href="{{ path('app_forum')}}" style="padding:15px 90px;" class="btn btn-outline-danger">Go to </a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ asset('images/bg.png') }}">
            <div class="card-body">
              <p class="card-text">QUEEN, BUT SHE THOUGHT THERE WAS A LITTLE.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="" class="btn btn-sm  btn-outline-success">View</a>
                  
                </div>
                <small class="text-muted">{{ random(50, 100) }}min</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ asset('images/bg.png') }}">
            <div class="card-body">
              <p class="card-text">THE CAT ONLY GRINNED WHEN IT HAD A WINK OF SLEEP.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm  btn-outline-success">View</a>
                  
                </div>
                <small class="text-muted">{{ random(50, 100) }}min</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ asset('images/bg.png') }}">
            <div class="card-body">
              <p class="card-text">FIVE. 'I HEARD EVERY WORD YOU FELLOWS WERE.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm  btn-outline-success">View</a>
                  
                </div>
                <small class="text-muted">{{ random(50, 100) }}min</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ asset('images/bg.png') }}">
            <div class="card-body">
              <p class="card-text">FIVE. 'I HEARD EVERY WORD YOU FELLOWS WERE.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm  btn-outline-success">View</a>
                  
                </div>
                <small class="text-muted">{{ random(50, 100) }}min</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ asset('images/bg.png') }}">
            <div class="card-body">
              <p class="card-text">FIVE. 'I HEARD EVERY WORD YOU FELLOWS WERE.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm  btn-outline-success">View</a>
                </div>
                <small class="text-muted">{{ random(50, 100) }}min</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ asset('images/bg.png') }}">
            <div class="card-body">
              <p class="card-text">FIVE. 'I HEARD EVERY WORD YOU FELLOWS WERE.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm  btn-outline-success">View</a>
                  
                </div>
                <small class="text-muted">{{ random(50, 100) }}min</small>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ asset('images/bg.png') }}">
            <div class="card-body">
              <p class="card-text">FIVE. 'I HEARD EVERY WORD YOU FELLOWS WERE.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm  btn-outline-success">View</a>
                  
                </div>
                <small class="text-muted">{{ random(50, 100) }}min</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ asset('images/bg.png') }}">
            <div class="card-body">
              <p class="card-text">FIVE. 'I HEARD EVERY WORD YOU FELLOWS WERE.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm  btn-outline-success">View</a>
                  
                </div>
                <small class="text-muted">{{ random(50, 100) }}min</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ asset('images/bg.png') }}">
            <div class="card-body">
              <p class="card-text">FIVE. 'I HEARD EVERY WORD YOU FELLOWS WERE.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a type="button" class="btn btn-sm  btn-outline-success">View</a>
                  
                </div>
                <small class="text-muted">{{ random(50, 100) }}min</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
{% endblock %}
